<script>
	//退出登录  如果确定退出就是只能是退出
	function logout(){
		if(confirm('是否退出登录?')){
			window.location = "success.php?act=logout&rst=1";
		}
	}
</script>
<!-- 通用顶部导航开始-->
<div id="top-navi-wrap">
	<div class="clearfix" id="top-navi">
		<div class="side-left">
			<a href="#">巴西世界杯一再爆冷 卫冕冠军西班牙出局</a>
			<a href="#">瑞士人为啥最幸福</a>　
			<a href="#">中国病人庞麦郎</a>
		</div>
		<div class="side-right">
		{if $session == null}
			<a href="login.php" target="_blank" class="top-nav-login-title">登录</a>
		{/if}
			<div class="top-nav-select-title">
		{if $session == null}
				<a href="register.php" target="_blank">免费注册</a>
		{else}
				<span>您好，<a href="#" class="current-user">{$session.userName}</a></span>
				<a href="javascript:logout()">退出</a>
		{/if}
			</div>
		</div>
	</div>
</div>
<!-- 通用顶部导航结束 -->
<!--header start-->
<div class="clear" id="header">
		<div id="logo"><a href="#" title="换一个角度看新闻"></a></div>
		<div id="search-bar">
			<form name="search-form" action="" method="get">
				<input type="text" name="keywords" id="keywords" value="党报连发治军铁腕新政"/>
				<input type="submit" value="" id="search-submit-button"/>
			</form>
		</div>
</div>
<!--header end-->
<!--导航开始-->
<div id="navigation">
	<ul class="clear">
		<li><a href="index.php" target="_blank">首页</a></li>
		{foreach $NewsTypes as $v}
		<li><a href="newsType.php?typeId={$v.typeId}" >{$v.typeName}</a></li>
		{/foreach}
	</ul>
</div>
<!--导航结束-->