<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻列表</title>
	<script>
		//修改某一新闻
		   function updateNews(articleId)
      {
    	  window.location = "updatenews.php?articleId="+articleId;
      }
      //删除某一新闻
      function delNews(articleId){
      	window.location = "recycle.php?articleId="+articleId;
      }
	</script>
</head>
<body>
	<table border="1" width="900px" align="center">
		<tr>
			<th>编号</th>
			<th>分类名称</th>
			<th>新闻标题</th>
			<th>发布时间</th>
			<th>操作</th>
		</tr>
		{foreach $listnews as $v}
		<tr>
			<td>{$v.articleId}</td>
			<td>{$v.typeName}</td>
			<td>{$v.title}</td>
			<td>{$v.dateandtime|date_format:"Y-m-d H:i:s"}</td>
			<td>
				<input type="button" value="修改" onclick="updateNews({$v.articleId})">
				<input type="button" value="删除" onclick="delNews({$v.articleId})">
			</td>
		</tr>
		{/foreach}
		<tr>
			<td align="center" colspan="5">
				共{$totalPage}页&nbsp;&nbsp;当前显示第{$currentPage}页&nbsp;&nbsp;
				{if $currentPage ==1}
				首页&nbsp;&nbsp;上一页
				{else}
					<a href="listnews.php?articleId={$articleId}">首页</a>&nbsp;&nbsp; <a href="listnews.php?articleId={$articleId}&currentPage={$currentPage-1}">上一页</a>
				{/if}
				&nbsp;&nbsp;
				{if $currentPage == $totalPage}
			 	上一页&nbsp;&nbsp;尾页
			 	{else}
			 	<a href="listnews.php?articleId={$articleId}&currentPage={$currentPage+1}">下一页</a> &nbsp;&nbsp;<a href="listnews.php?articleId={$articleId}&currentPage={$totalPage}">尾页</a>
				{/if}
			</td>
		</tr>
	</table>

</body>
</html>